{% extends "base.html" %}
{% load static %}

{% block info %}

<ul class="nav gap-3">
    <li class="nav-item d-inline">
    <a href="{% url 'settings' %}">Settings</a>
    </li>
    <li class="nav-item d-inline">
    <a href="{% url 'login' %}">Log in</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<div class="row me-2">
  <div class="col-3 p-2">
    <div class="border w-100 mb-3" style="height: 130px">
      <img src="{% static 'img/img.jpg' %}" class="img-fluid rounded-start" alt="..."/>
    </div>
    <div class="input-group flex-nowrap">
      <input type="number" value="5" class="form-control" />
    </div>
  </div>
  <div class="col">
    <div class="card-body mx-2">
      <h2 class="mb-3">
        {{questions.title}}
      </h2>
      <p class="card-text">
        {{questions.text}}
      </p>
      <div class="row">
        <div class="col-8">
          <span>Tags</span>
            {% for tag in tags %}
              <a href="{% url 'tag' tag.name %}"> {{ tag.name }} </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

{% for answer in answers %}

  {% include "layouts/answer_card.html" %}

{% endfor %}

<hr>

<div class="input-group">
  <textarea class="form-control" placeholder="Enter your answer here..."></textarea>
</div>

<div class="my-3">
  <button type="button" class="btn btn-outline-secondary">Answer</button>
</div>

{% endblock %}